<div class="container" style="height: 500px">
  <h3>既往过敏史</h3>
  <table class="table">
    <tr>
      <td colspan="3">
        <label>既往过敏史</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" value="无" name="allergy" [(ngModel)]="mlAllergy.allergy">无</td>
      <td class="col-md-2">
        <input type="radio" value="有" name="allergy" [(ngModel)]="mlAllergy.allergy">有</td>
      <td class="col-md-2">
        <input type="radio" value="不详" name="allergy" [(ngModel)]="mlAllergy.allergy">不详</td>
    </tr>
    <tr>
      <td colspan="3">
        <label>过敏原（过敏物质）</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="allergen" [(ngModel)]="mlAllergy.allergen" class="form-control col-md-5">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>补充说明</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="remark" [(ngModel)]="mlAllergy.remark" class="form-control col-md-5">
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/medicineLiver">返回</button>
  <button class="btn btn-success" (click)="submit()">确定</button>
  <hr>
</div>
