<div class="container" style="height: 500px">
  <table class="table">
    <tr>
      <td colspan="3">
        <label>既往过敏史</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">无</td>
      <td class="col-md-2">
        <input type="radio" name="">有</td>
      <td class="col-md-2">
        <input type="radio" name="">不详</td>
    </tr>
    <tr>
      <td colspan="3">
        <label>过敏原（过敏物质）</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="" class="form-control col-md-5">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>补充说明</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="" class="form-control col-md-5">
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
