<div class="container" style="height: 500px">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>饮酒史</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="history" value="长期饮酒" [(ngModel)]="mlDrink.history">长期饮酒</td>
      <td>
        <input type="radio" name="history" value="偶尔饮酒" [(ngModel)]="mlDrink.history">偶尔饮酒</td>
      <td>
        <input type="radio" name="history" value="不饮酒" [(ngModel)]="mlDrink.history">不饮酒</td>
      <td>
        <input type="radio" name="history" value="不详" [(ngModel)]="mlDrink.history">不详
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>饮酒种类</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="species" value="白酒" [(ngModel)]="species1">白酒</td>
      <td>
        <input type="checkbox" name="species" value="红酒" [(ngModel)]="species2">红酒</td>
      <td>
        <input type="checkbox" name="species" value="啤酒" [(ngModel)]="species3">啤酒</td>
      <td>
        <input type="checkbox" name="species" value="其他" [(ngModel)]="species4">其他</td>
    </tr>
    <tr>
      <td colspan="4">
        <label>饮酒年限</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <input type="text" name="time" [(ngModel)]="mlDrink.time" class="form-control">
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/medicineLiver">返回</button>
  <button class="btn btn-success" (click)="submit()">确定</button>
  <hr>
</div>
