<div class="container" style="height: 500px">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>饮酒史</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">长期饮酒</td>
      <td>
        <input type="radio" name="">偶尔饮酒</td>
      <td>
        <input type="radio" name="">不饮酒</td>
      <td>
        <input type="radio" name="">不详
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>饮酒种类</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="">白酒</td>
      <td>
        <input type="checkbox" name="">红酒</td>
      <td>
        <input type="checkbox" name="">啤酒</td>
      <td>
        <input type="checkbox" name="">其他</td>
    </tr>
    <tr>
      <td colspan="4">
        <label>饮酒年限</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <input type="text" name="" class="form-control">
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
