<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="8">
        <label>舌质</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">淡红
      </td>
      <td>
        <input type="radio">淡白
      </td>
      <td>
        <input type="radio">淡紫
      </td>
      <td>
        <input type="radio">红
      </td>
      <td>
        <input type="radio">绛
      </td>
      <td>
        <input type="radio">青
      </td>
      <td>
        <input type="radio">紫暗
      </td>
      <td>
        <input type="radio">瘀点瘀斑
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>舌体</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">荣
      </td>
      <td>
        <input type="radio">枯
      </td>
      <td>
        <input type="radio">瘦
      </td>
      <td>
        <input type="radio">胖
      </td>
      <td>
        <input type="radio">齿痕
      </td>
      <td>
        <input type="radio">点刺
      </td>
      <td>
        <input type="radio">裂纹
      </td>
      <td>
        <input type="radio">舌体瘀斑
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>苔质</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">薄
      </td>
      <td>
        <input type="radio">厚
      </td>
      <td>
        <input type="radio">润
      </td>
      <td>
        <input type="radio">少津
      </td>
      <td>
        <input type="radio">燥
      </td>
      <td>
        <input type="radio">糙
      </td>
      <td>
        <input type="radio">焦
      </td>
      <td>
        <input type="radio">枯
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">腻
      </td>
      <td>
        <input type="radio">腐
      </td>
      <td>
        <input type="radio">剥
      </td>
      <td>
        <input type="radio">类剥
      </td>
      <td colspan="4">
        <input type="radio">无苔
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>舌苔色</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">白
      </td>
      <td>
        <input type="radio">略黄
      </td>
      <td>
        <input type="radio">黄
      </td>
      <td>
        <input type="radio">灰
      </td>
      <td>
        <input type="radio">暗
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>舌下静脉曲张</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">正常
      </td>
      <td>
        <input type="radio">轻微
      </td>
      <td colspan="6">
        <input type="radio">明显
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>脉象-左手</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">浮
      </td>
      <td>
        <input type="radio">沉
      </td>
      <td>
        <input type="radio">弦
      </td>
      <td>
        <input type="radio">滑
      </td>
      <td>
        <input type="radio">细
      </td>
      <td>
        <input type="radio">数
      </td>
      <td>
        <input type="radio">濡
      </td>
      <td>
        <input type="radio">缓
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">涩
      </td>
      <td>
        <input type="radio">迟
      </td>
      <td>
        <input type="radio">长
      </td>
      <td>
        <input type="radio">短
      </td>
      <td>
        <input type="radio">虚
      </td>
      <td>
        <input type="radio">弱
      </td>
      <td colspan="2">
        <input type="radio">结代
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>脉象-右手</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">浮
      </td>
      <td>
        <input type="radio">沉
      </td>
      <td>
        <input type="radio">弦
      </td>
      <td>
        <input type="radio">滑
      </td>
      <td>
        <input type="radio">细
      </td>
      <td>
        <input type="radio">数
      </td>
      <td>
        <input type="radio">濡
      </td>
      <td>
        <input type="radio">缓
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">涩
      </td>
      <td>
        <input type="radio">迟
      </td>
      <td>
        <input type="radio">长
      </td>
      <td>
        <input type="radio">短
      </td>
      <td>
        <input type="radio">虚
      </td>
      <td>
        <input type="radio">弱
      </td>
      <td colspan="2">
        <input type="radio">结代
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
