<div class="container" style="height: auto;">
  <h3>舌脉象</h3>
  <table class="table">
    <tr>
      <td colspan="8">
        <label>舌质</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tongueQuality" value="淡红" [(ngModel)]="tongue.tongueQuality">淡红
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="淡白" [(ngModel)]="tongue.tongueQuality">淡白
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="淡紫" [(ngModel)]="tongue.tongueQuality">淡紫
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="红" [(ngModel)]="tongue.tongueQuality">红
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="绛" [(ngModel)]="tongue.tongueQuality">绛
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="青" [(ngModel)]="tongue.tongueQuality">青
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="紫暗" [(ngModel)]="tongue.tongueQuality">紫暗
      </td>
      <td>
        <input type="radio" name="tongueQuality" value="瘀点瘀斑" [(ngModel)]="tongue.tongueQuality">瘀点瘀斑
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>舌体</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tongueBody" value="荣" [(ngModel)]="tongue.tongueBody">荣
      </td>
      <td>
        <input type="radio" name="tongueBody" value="枯" [(ngModel)]="tongue.tongueBody">枯
      </td>
      <td>
        <input type="radio" name="tongueBody" value="瘦" [(ngModel)]="tongue.tongueBody">瘦
      </td>
      <td>
        <input type="radio" name="tongueBody" value="胖" [(ngModel)]="tongue.tongueBody">胖
      </td>
      <td>
        <input type="radio" name="tongueBody" value="齿痕" [(ngModel)]="tongue.tongueBody">齿痕
      </td>
      <td>
        <input type="radio" name="tongueBody" value="点刺" [(ngModel)]="tongue.tongueBody">点刺
      </td>
      <td>
        <input type="radio" name="tongueBody" value="裂纹" [(ngModel)]="tongue.tongueBody">裂纹
      </td>
      <td>
        <input type="radio" name="tongueBody" value="舌体瘀斑" [(ngModel)]="tongue.tongueBody">舌体瘀斑
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>苔质</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="mossyQuality" value="薄" [(ngModel)]="tongue.mossyQuality">薄
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="厚" [(ngModel)]="tongue.mossyQuality">厚
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="润" [(ngModel)]="tongue.mossyQuality">润
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="少津" [(ngModel)]="tongue.mossyQuality">少津
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="燥" [(ngModel)]="tongue.mossyQuality">燥
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="糙" [(ngModel)]="tongue.mossyQuality">糙
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="焦" [(ngModel)]="tongue.mossyQuality">焦
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="枯" [(ngModel)]="tongue.mossyQuality">枯
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="mossyQuality" value="腻" [(ngModel)]="tongue.mossyQuality">腻
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="腐" [(ngModel)]="tongue.mossyQuality">腐
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="剥" [(ngModel)]="tongue.mossyQuality">剥
      </td>
      <td>
        <input type="radio" name="mossyQuality" value="类剥" [(ngModel)]="tongue.mossyQuality">类剥
      </td>
      <td colspan="4">
        <input type="radio" name="mossyQuality" value="无苔" [(ngModel)]="tongue.mossyQuality">无苔
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>舌苔色</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="mossyColor" value="白" [(ngModel)]="tongue.mossyColor">白
      </td>
      <td>
        <input type="radio" name="mossyColor" value="略黄" [(ngModel)]="tongue.mossyColor">略黄
      </td>
      <td>
        <input type="radio" name="mossyColor" value="黄" [(ngModel)]="tongue.mossyColor">黄
      </td>
      <td>
        <input type="radio" name="mossyColor" value="灰" [(ngModel)]="tongue.mossyColor">灰
      </td>
      <td>
        <input type="radio" name="mossyColor" value="暗" [(ngModel)]="tongue.mossyColor">暗
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>舌下静脉曲张</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="varice" value="正常" [(ngModel)]="tongue.varice">正常
      </td>
      <td>
        <input type="radio" name="varice" value="轻微" [(ngModel)]="tongue.varice">轻微
      </td>
      <td colspan="6">
        <input type="radio" name="varice" value="明显" [(ngModel)]="tongue.varice">明显
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>脉象-左手</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tongueLeft" value="浮" [(ngModel)]="tongue.tongueLeft">浮
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="沉" [(ngModel)]="tongue.tongueLeft">沉
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="弦" [(ngModel)]="tongue.tongueLeft">弦
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="滑" [(ngModel)]="tongue.tongueLeft">滑
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="细" [(ngModel)]="tongue.tongueLeft">细
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="数" [(ngModel)]="tongue.tongueLeft">数
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="濡" [(ngModel)]="tongue.tongueLeft">濡
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="缓" [(ngModel)]="tongue.tongueLeft">缓
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tongueLeft" value="涩" [(ngModel)]="tongue.tongueLeft">涩
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="迟" [(ngModel)]="tongue.tongueLeft">迟
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="长" [(ngModel)]="tongue.tongueLeft">长
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="短" [(ngModel)]="tongue.tongueLeft">短
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="虚" [(ngModel)]="tongue.tongueLeft">虚
      </td>
      <td>
        <input type="radio" name="tongueLeft" value="弱" [(ngModel)]="tongue.tongueLeft">弱
      </td>
      <td colspan="2">
        <input type="radio" name="tongueLeft" value="结代" [(ngModel)]="tongue.tongueLeft">结代
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <label>脉象-右手</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tongueRight" value="浮" [(ngModel)]="tongue.tongueRight">浮
      </td>
      <td>
        <input type="radio" name="tongueRight" value="沉" [(ngModel)]="tongue.tongueRight">沉
      </td>
      <td>
        <input type="radio" name="tongueRight" value="弦" [(ngModel)]="tongue.tongueRight">弦
      </td>
      <td>
        <input type="radio" name="tongueRight" value="滑" [(ngModel)]="tongue.tongueRight">滑
      </td>
      <td>
        <input type="radio" name="tongueRight" value="细" [(ngModel)]="tongue.tongueRight">细
      </td>
      <td>
        <input type="radio" name="tongueRight" value="数" [(ngModel)]="tongue.tongueRight">数
      </td>
      <td>
        <input type="radio" name="tongueRight" value="濡" [(ngModel)]="tongue.tongueRight">濡
      </td>
      <td>
        <input type="radio" name="tongueRight" value="缓" [(ngModel)]="tongue.tongueRight">缓
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tongueRight" value="涩" [(ngModel)]="tongue.tongueRight">涩
      </td>
      <td>
        <input type="radio" name="tongueRight" value="迟" [(ngModel)]="tongue.tongueRight">迟
      </td>
      <td>
        <input type="radio" name="tongueRight" value="长" [(ngModel)]="tongue.tongueRight">长
      </td>
      <td>
        <input type="radio" name="tongueRight" value="短" [(ngModel)]="tongue.tongueRight">短
      </td>
      <td>
        <input type="radio" name="tongueRight" value="虚" [(ngModel)]="tongue.tongueRight">虚
      </td>
      <td>
        <input type="radio" name="tongueRight" value="弱" [(ngModel)]="tongue.tongueRight">弱
      </td>
      <td colspan="2">
        <input type="radio" name="tongueRight" value="结代" [(ngModel)]="tongue.tongueRight">结代
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
  <button class="btn btn-success" (click)="submit()">确定</button>
  <hr>
</div>
