<div class="container" style="height: auto;">
  <form class="form-inline">
    <hr>
    <div class="form-group">
      <label class="control-label">姓名：</label>
      <input type="email" class="form-control" placeholder="请输入姓名，2~5位汉字">
    </div>
    <div class="form-group col-md-offset-1">
      <label class="control-label">年龄：</label>
      <input type="email" class="form-control" placeholder="请输入年龄">
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label">性别：</label>
      <select class="form-control">
        <option>男</option>
        <option>女</option>
      </select>
    </div>
    <div class="form-group col-md-offset-1">
      <label class="control-label">民族：</label>
      <app-nation-drop-down></app-nation-drop-down>
    </div>
    <div class="form-group col-md-offset-1">
      <label class="control-label">文化程度：</label>
      <select class="form-control">
        <option>文盲或半文盲</option>
        <option>小学</option>
        <option>初中</option>
        <option>高中</option>
        <option>专科</option>
        <option>本科</option>
        <option>硕士及以上</option>
      </select>
    </div>
    <hr>
    <input type="file">
    <hr>
    <div class="form-group">
      <label class="control-label">身高：</label>
      <input type="email" class="form-control" placeholder="身高">
    </div>
    <div class="form-group col-md-offset-1">
      <label class="control-label">体重：</label>
      <input type="email" class="form-control" placeholder="体重">
    </div>
    <div class="form-group col-md-offset-1">
      <label class="control-label">BMI：</label>
      <input type="email" class="form-control" placeholder="BMI">
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label">联系方式：</label>
      <input type="email" class="form-control" placeholder="联系方式">
    </div>
    <div class="form-group col-md-offset-1">
      <label class="control-label">联系地址：</label>
      <input type="email" class="form-control" placeholder="联系地址">
    </div>
    <hr>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="radio" name="iCheck">
    <input type="radio" name="iCheck" checked>
  </form>
</div>
