<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>小叶内炎症</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="lobular" value="0" [(ngModel)]="lobular">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="lobular" value="1" [(ngModel)]="lobular">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="lobular" value="2" [(ngModel)]="lobular">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="lobular" value="3" [(ngModel)]="lobular">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>界面型肝炎</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="interfacal" value="0" [(ngModel)]="interfacal">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="interfacal" value="1" [(ngModel)]="interfacal">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="interfacal" value="2" [(ngModel)]="interfacal">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="interfacal" value="3" [(ngModel)]="interfacal">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>汇管区炎症</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="portal" value="0" [(ngModel)]="portal">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="portal" value="1" [(ngModel)]="portal">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="portal" value="2" [(ngModel)]="portal">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="portal" value="3" [(ngModel)]="portal">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>淋巴细胞浆细胞浸润</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="lymphocyte" value="0" [(ngModel)]="lymphocyte">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="lymphocyte" value="1" [(ngModel)]="lymphocyte">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="lymphocyte" value="2" [(ngModel)]="lymphocyte">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="lymphocyte" value="3" [(ngModel)]="lymphocyte">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>玫瑰花结样改变</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HBsAg染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HBcAg染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HCV染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
