<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>小叶内炎症</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="li" value="0" [(ngModel)]="alLiver.li">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="li" value="1" [(ngModel)]="alLiver.li">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="li" value="2" [(ngModel)]="alLiver.li">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="li" value="3" [(ngModel)]="alLiver.li">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>界面型肝炎</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="ih" value="0" [(ngModel)]="alLiver.ih">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="ih" value="1" [(ngModel)]="alLiver.ih">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="ih" value="2" [(ngModel)]="alLiver.ih">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="ih" value="3" [(ngModel)]="alLiver.ih">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>汇管区炎症</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="pi1" value="0" [(ngModel)]="alLiver.pi1">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="pi1" value="1" [(ngModel)]="alLiver.pi1">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="pi1" value="2" [(ngModel)]="alLiver.pi1">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="pi1" value="3" [(ngModel)]="alLiver.pi1">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>淋巴细胞浆细胞浸润</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="pi2" value="0" [(ngModel)]="alLiver.pi2">0
      </td>
      <td class="col-md-2">
        <input type="radio" name="pi2" value="1" [(ngModel)]="alLiver.pi2">1
      </td>
      <td class="col-md-2">
        <input type="radio" name="pi2" value="2" [(ngModel)]="alLiver.pi2">2
      </td>
      <td class="col-md-2">
        <input type="radio" name="pi2" value="3" [(ngModel)]="alLiver.pi2">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>玫瑰花结样改变</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="rc" value="阴性" [(ngModel)]="alLiver.rc">阴性
      </td>
      <td class="col-md-2">
        <input type="radio" name="rc" value="阳性" [(ngModel)]="alLiver.rc">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HBsAg染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="hbsAg" value="阴性" [(ngModel)]="alLiver.hbsAg">阴性
      </td>
      <td class="col-md-2">
        <input type="radio" name="hbsAg" value="阳性" [(ngModel)]="alLiver.hbsAg">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HBcAg染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="hbcAg" value="阴性" [(ngModel)]="alLiver.hbcAg">阴性
      </td>
      <td class="col-md-2">
        <input type="radio" name="hbcAg" value="阳性" [(ngModel)]="alLiver.hbcAg">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HCV染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio" name="hcv" value="阴性" [(ngModel)]="alLiver.hcv">阴性
      </td>
      <td class="col-md-2">
        <input type="radio" name="hcv" value="阳性" [(ngModel)]="alLiver.hcv">阳性
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
  <button class="btn btn-success" (click)="submit()">确定</button>
  <hr>
</div>
