<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>小叶内炎症</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>界面型肝炎</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>汇管区炎症</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>淋巴细胞浆细胞浸润</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>纤维组织增生</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>胆管炎症损伤</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>肝细胞脂肪变性</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">0
      </td>
      <td class="col-md-2">
        <input type="radio">1
      </td>
      <td class="col-md-2">
        <input type="radio">2
      </td>
      <td class="col-md-2">
        <input type="radio">3
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>玫瑰花结样改变</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HBsAg染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HBcAg染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>HCV染色</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-2">
        <input type="radio">阴性
      </td>
      <td class="col-md-2">
        <input type="radio">阳性
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
