<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>乏力</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-3">
        <input type="radio" name="fatigue" value="无" [(ngModel)]="mlFour.fatigue">无
      </td>
      <td>
        <input type="radio" name="fatigue" value="肢体乏力，勉强维持日常生活" [(ngModel)]="mlFour.fatigue">肢体乏力，勉强维持日常生活
      </td>
      <td>
        <input type="radio" name="fatigue" value="肢体稍倦，可坚持轻体力工作" [(ngModel)]="mlFour.fatigue">肢体稍倦，可坚持轻体力工作
      </td>
      <td>
        <input type="radio" name="fatigue" value="全身无力，终日不愿活动" [(ngModel)]="mlFour.fatigue">全身无力，终日不愿活动
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>皮肤瘙痒</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="itch" value="无" [(ngModel)]="mlFour.itch">无
      </td>
      <td>
        <input type="radio" name="itch" value="偶有，不影响日常生活" [(ngModel)]="mlFour.itch">偶有，不影响日常生活
      </td>
      <td>
        <input type="radio" name="itch" value="时常有，轻度影响日常生活" [(ngModel)]="mlFour.itch">时常有，轻度影响日常生活
      </td>
      <td>
        <input type="radio" name="itch" value="整日瘙痒，影响日常生活" [(ngModel)]="mlFour.itch">整日瘙痒，影响日常生活
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>两目干涩</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="dry" value="无" [(ngModel)]="mlFour.dry">无
      </td>
      <td>
        <input type="radio" name="dry" value="自觉有时目干" [(ngModel)]="mlFour.dry">自觉有时目干
      </td>
      <td>
        <input type="radio" name="dry" value="经常两目干涩" [(ngModel)]="mlFour.dry">经常两目干涩
      </td>
      <td>
        <input type="radio" name="dry" value="整日两目干涩" [(ngModel)]="mlFour.dry">整日两目干涩
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>视物模糊</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="vague" value="无" [(ngModel)]="mlFour.vague">无
      </td>
      <td>
        <input type="radio" name="vague" value="久视后视物不清" [(ngModel)]="mlFour.vague">久视后视物不清
      </td>
      <td>
        <input type="radio" name="vague" value="视物不清" [(ngModel)]="mlFour.vague">视物不清
      </td>
      <td>
        <input type="radio" name="vague" value="视物困难" [(ngModel)]="mlFour.vague">视物困难
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>抑郁</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="depress" value="无" [(ngModel)]="mlFour.depress">无
      </td>
      <td>
        <input type="radio" name="depress" value="有时情绪低落" [(ngModel)]="mlFour.depress">有时情绪低落
      </td>
      <td>
        <input type="radio" name="depress" value="经常情绪低落" [(ngModel)]="mlFour.depress">经常情绪低落
      </td>
      <td>
        <input type="radio" name="depress" value="有厌世倾向" [(ngModel)]="mlFour.depress">有厌世倾向
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>烦躁易怒</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="angry" value="无" [(ngModel)]="mlFour.angry">无
      </td>
      <td>
        <input type="radio" name="angry" value="偶见烦躁" [(ngModel)]="mlFour.angry">偶见烦躁
      </td>
      <td>
        <input type="radio" name="angry" value="经常烦躁不安" [(ngModel)]="mlFour.angry">经常烦躁不安
      </td>
      <td>
        <input type="radio" name="angry" value="一触即怒" [(ngModel)]="mlFour.angry">一触即怒
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>失眠</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="insomnia" value="无" [(ngModel)]="mlFour.insomnia">无
      </td>
      <td>
        <input type="radio" name="insomnia" value="睡眠不足6小时" [(ngModel)]="mlFour.insomnia">睡眠不足6小时
      </td>
      <td>
        <input type="radio" name="insomnia" value="睡眠不足4小时" [(ngModel)]="mlFour.insomnia">睡眠不足4小时
      </td>
      <td>
        <input type="radio" name="insomnia" value="彻夜难眠" [(ngModel)]="mlFour.insomnia">彻夜难眠
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>易醒</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="wake" value="无" [(ngModel)]="mlFour.wake">无
      </td>
      <td>
        <input type="radio" name="wake" value="每夜眠后醒1~2次" [(ngModel)]="mlFour.wake">每夜眠后醒1~2次
      </td>
      <td>
        <input type="radio" name="wake" value="每夜眠后醒3~4次" [(ngModel)]="mlFour.wake">每夜眠后醒3~4次
      </td>
      <td>
        <input type="radio" name="wake" value="每夜醒5次以上" [(ngModel)]="mlFour.wake">每夜醒5次以上
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>耳鸣</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="tinnitus" value="无" [(ngModel)]="mlFour.tinnitus">无
      </td>
      <td>
        <input type="radio" name="tinnitus" value="偶见轻微耳鸣" [(ngModel)]="mlFour.tinnitus">偶见轻微耳鸣
      </td>
      <td>
        <input type="radio" name="tinnitus" value="阵发耳鸣，休息后缓解" [(ngModel)]="mlFour.tinnitus">阵发耳鸣，休息后缓解
      </td>
      <td>
        <input type="radio" name="tinnitus" value="耳鸣持续不解" [(ngModel)]="mlFour.tinnitus">耳鸣持续不解
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>口干</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="thirst" value="无" [(ngModel)]="mlFour.thirst">无
      </td>
      <td>
        <input type="radio" name="thirst" value="偶有或晨起口干" [(ngModel)]="mlFour.thirst">偶有或晨起口干
      </td>
      <td>
        <input type="radio" name="thirst" value="时感口干" [(ngModel)]="mlFour.thirst">时感口干
      </td>
      <td>
        <input type="radio" name="thirst" value="整日口干" [(ngModel)]="mlFour.thirst">整日口干
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/medicineLiver">返回</button>
  <button class="btn btn-success" (click)="submit()">确定</button>
  <hr>
</div>
