<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>腰椎1-4</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="lv" [(ngModel)]="alBone.lv">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="lvT" [(ngModel)]="alBone.lvT" value="未检测">未检测
      </td>
      <td>
        <input type="radio" name="lvT" [(ngModel)]="alBone.lvT" value=">1">>1
      </td>
      <td>
        <input type="radio" name="lvT" [(ngModel)]="alBone.lvT" value="-1~-2.5">-1~-2.5
      </td>
      <td>
        <input type="radio" name="lvT" [(ngModel)]="alBone.lvT" value="<-2.5">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>股骨颈</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="fn" [ngModel]="fn">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="fnT" [(ngModel)]="alBone.fnT" value="未检测">未检测
      </td>
      <td>
        <input type="radio" name="fnT" [(ngModel)]="alBone.fnT" value=">1">>1
      </td>
      <td>
        <input type="radio" name="fnT" [(ngModel)]="alBone.fnT" value="-1~-2.5">-1~-2.5
      </td>
      <td>
        <input type="radio" name="fnT" [(ngModel)]="alBone.fnT" value="<-2.5">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>大粗隆</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="br" [(ngModel)]="alBone.br">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="brT" [(ngModel)]="alBone.brT" value="未检测">未检测
      </td>
      <td>
        <input type="radio" name="brT" [(ngModel)]="alBone.brT" value=">1">>1
      </td>
      <td>
        <input type="radio" name="brT" [(ngModel)]="alBone.brT" value="-1~-2.5">-1~-2.5
      </td>
      <td>
        <input type="radio" name="brT" [(ngModel)]="alBone.brT" value="<-2.5">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>全髋</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="th" [(ngModel)]="alBone.th">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="thT" [(ngModel)]="alBone.thT" value="未检测">未检测
      </td>
      <td>
        <input type="radio" name="thT" [(ngModel)]="alBone.thT" value=">1">>1
      </td>
      <td>
        <input type="radio" name="thT" [(ngModel)]="alBone.thT" value="-1~-2.5">-1~-2.5
      </td>
      <td>
        <input type="radio" name="thT" [(ngModel)]="alBone.thT" value="<-2.5">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>诊断</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">诊断</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="diagnosis" [(ngModel)]="alBone.diagnosis" value="骨量正常">骨量正常
      </td>
      <td>
        <input type="radio" name="diagnosis" [(ngModel)]="alBone.diagnosis" value="骨量减少">骨量减少
      </td>
      <td>
        <input type="radio" name="diagnosis" [(ngModel)]="alBone.diagnosis" value="骨质疏松">骨质疏松
      </td>
      <td>
        <input type="radio" name="diagnosis" [(ngModel)]="alBone.diagnosis" value="严重骨质疏松">严重骨质疏松
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
  <button class="btn btn-success" (click)="submit()">成功</button>
  <hr>
</div>
