<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>腰椎1-4</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">未检测
      </td>
      <td>
        <input type="radio" name="">>1
      </td>
      <td>
        <input type="radio" name="">-1~-2.5
      </td>
      <td>
        <input type="radio" name="">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>股骨颈</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">未检测
      </td>
      <td>
        <input type="radio" name="">>1
      </td>
      <td>
        <input type="radio" name="">-1~-2.5
      </td>
      <td>
        <input type="radio" name="">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>大粗隆</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">未检测
      </td>
      <td>
        <input type="radio" name="">>1
      </td>
      <td>
        <input type="radio" name="">-1~-2.5
      </td>
      <td>
        <input type="radio" name="">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>全髋</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <span>骨密度：</span>
          <input type="text" name="">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4">T值</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">未检测
      </td>
      <td>
        <input type="radio" name="">>1
      </td>
      <td>
        <input type="radio" name="">-1~-2.5
      </td>
      <td>
        <input type="radio" name="">
        <-2.5 </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>诊断</label>
      </td>
    </tr>
    <tr>
      <td colspan="4">诊断</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">骨量正常
      </td>
      <td>
        <input type="radio" name="">骨量减少
      </td>
      <td>
        <input type="radio" name="">骨质疏松
      </td>
      <td>
        <input type="radio" name="">严重骨质疏松
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">成功</button>
  <hr>
</div>
