<div class="container" style="height: auto;">
  <h3>肝脏组织学检查</h3>
  <hr>
  <label>门管区周围或周围间隔区交界面肝炎（碎片状坏死）</label>
  <hr>
  <input type="radio" name="option1" value="无" [(ngModel)]="mlLiver.option1">无
  <br>
  <input type="radio" name="option1" value="轻微（局灶性，少数门管区）" [(ngModel)]="mlLiver.option1">轻微（局灶性，少数门管区）
  <br>
  <input type="radio" name="option1" value="轻微/中等（局灶性，大多数门管区）" [(ngModel)]="mlLiver.option1">轻微/中等（局灶性，大多数门管区）
  <br>
  <input type="radio" name="option1" value="中等（连续性，
  < 50%的门管区及间隔区）" [(ngModel)]="mlLiver.option1">中等（连续性，
  < 50%的门管区及间隔区） <br>
    <input type="radio" name="option1" value="严重（连续性，>50%的门管区及间隔区）" [(ngModel)]="mlLiver.option1">严重（连续性，>50%的门管区及间隔区）
    <hr>
    <label>融合性坏死 </label>
    <hr>
    <input type="radio" name="option2" value="无" [(ngModel)]="mlLiver.option2">无
    <br>
    <input type="radio" name="option2" value="局灶性融合性坏死" [(ngModel)]="mlLiver.option2">局灶性融合性坏死
    <br>
    <input type="radio" name="option2" value="部分区域3区坏死" [(ngModel)]="mlLiver.option2">部分区域3区坏死
    <br>
    <input type="radio" name="option2" value="大多数区域三区坏死" [(ngModel)]="mlLiver.option2">大多数区域三区坏死
    <br>
    <input type="radio" name="option2" value="三区坏死 + 偶见门管区 - 中心静脉（P-C）桥接" [(ngModel)]="mlLiver.option2">三区坏死 + 偶见门管区 - 中心静脉（P-C）桥接
    <br>
    <input type="radio" name="option2" value="区坏死 + 多发性门管区 - 中心静脉（P-C）桥接" [(ngModel)]="mlLiver.option2">三区坏死 + 多发性门管区 - 中心静脉（P-C）桥接
    <br>
    <input type="radio" name="option2" value="全小叶或多发性小叶坏死" [(ngModel)]="mlLiver.option2">全小叶或多发性小叶坏死
    <hr>
    <label>局灶性（斑状）溶解性坏死，凋亡及局灶性炎症</label>
    <hr>
    <input type="radio" name="option3" value="无" [(ngModel)]="mlLiver.option3">无
    <br>
    <input type="radio" name="option3" value="每 *10 倍视野区下有 1 个坏死区或更少" [(ngModel)]="mlLiver.option3">每 *10 倍视野区下有 1 个坏死区或更少
    <br>
    <input type="radio" name="option3" value="每 *10 倍视野区下有 2-4 个坏死区" [(ngModel)]="mlLiver.option3">每 *10 倍视野区下有 2-4 个坏死区
    <br>
    <input type="radio" name="option3" value="每 *10 倍视野区下有 5-10 个坏死区" [(ngModel)]="mlLiver.option3">每 *10 倍视野区下有 5-10 个坏死区
    <br>
    <input type="radio" name="option3" value="每 *10 倍视野区下有 10 个以上坏死区或更少" [(ngModel)]="mlLiver.option3">每 *10 倍视野区下有 10 个以上坏死区或更多
    <hr>
    <label>门管区炎症</label>
    <hr>
    <input type="radio" name="option4" value="无" [(ngModel)]="mlLiver.option4">无
    <br>
    <input type="radio" name="option4" value="轻度，部分或所有门管区" [(ngModel)]="mlLiver.option4">轻度，部分或所有门管区
    <br>
    <input type="radio" name="option4" value="中度，部分或所有门管区" [(ngModel)]="mlLiver.option4">中度，部分或所有门管区
    <br>
    <input type="radio" name="option4" value="中度/严重，所有门管区" [(ngModel)]="mlLiver.option4">中度/严重，所有门管区
    <br>
    <input type="radio" name="option4" value="严重，所有门管区" [(ngModel)]="mlLiver.option4">严重，所有门管区
    <hr>
    <label>门管区炎症</label>
    <hr>
    <input type="radio" name="option5" value="无纤维" [(ngModel)]="mlLiver.option5">无纤维
    <br>
    <input type="radio" name="option5" value="部分门管区有纤维增生，有或无短的纤维隔膜" [(ngModel)]="mlLiver.option5">部分门管区有纤维增生，有或无短的纤维隔膜
    <br>
    <input type="radio" name="option5" value="大多数门管区有纤维增生，有或无短的纤维隔膜" [(ngModel)]="mlLiver.option5">大多数门管区有纤维增生，有或无短的纤维隔膜
    <br>
    <input type="radio" name="option5" value="大多数门管区有纤维增生，偶见门管区以纤维桥连" [(ngModel)]="mlLiver.option5">大多数门管区有纤维增生，偶见门管区以纤维桥连
    <br>
    <input type="radio" name="option5" value="门管区纤维增生，同时伴有明显的纤维桥连（门馆与门馆之间及门馆与中心静脉之间）" [(ngModel)]="mlLiver.option5">门管区纤维增生，同时伴有明显的纤维桥连（门馆与门馆之间及门馆与中心静脉之间）
    <br>
    <input type="radio" name="option5" value="明显的桥连（门管与门管和/或门管与中心静脉），偶见结节（不完全硬化）" [(ngModel)]="mlLiver.option5">明显的桥连（门管与门管和/或门管与中心静脉），偶见结节（不完全硬化）
    <br>
    <input type="radio" name="option5" value="可能或明确的肝硬化" [(ngModel)]="mlLiver.option5">可能或明确的肝硬化
    <hr>
    <button class="btn btn-danger" routerLink="/medicineLiver">返回</button>
    <button class="btn btn-success" (click)="submit()">确认</button>
    <hr>
</div>
