<app-infobox [information]="information"></app-infobox>
<div class="container" style="height: auto;">
  <h3>简化AIH</h3>
  <table class="table">
    <tr>
      <td colspan="3">
        <label>ANA或SMA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="anasma1" value="阴性" [(ngModel)]="alAih.anasma1">阴性
      </td>
      <td colspan="2">
        <input type="radio" name="anasma1" value="阳性" [(ngModel)]="alAih.anasma1">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>ANA/SMA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="<1:100" [(ngModel)]="alAih.anasma2" name="anasma2">
        <1:100 </td>
          <td>
            <input type="radio" value="=1:100" [(ngModel)]="alAih.anasma2" name="anasma2">=1:100
          </td>
          <td>
            <input type="radio" value=">1:100" [(ngModel)]="alAih.anasma2" name="anasma2">>1:100
          </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Anti-LKM-l</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="阴性" name="antiLkm" [(ngModel)]="alAih.antiLkm">阴性
      </td>
      <td colspan="2">
        <input type="radio" value="阳性" name="antiLkm" [(ngModel)]="alAih.antiLkm">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Anti-SLA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="阴性" name="antiSla" [(ngModel)]="alAih.antiSla">阴性
      </td>
      <td colspan="2">
        <input type="radio" value="阳性" name="antiSla" [(ngModel)]="alAih.antiSla">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>IgG</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="≥正常值上限" name="igg" [(ngModel)]="alAih.igg">≥正常值上限
      </td>
      <td colspan="2">
        <input type="radio" value="≥1.10倍正常上限" name="igg" [(ngModel)]="alAih.igg">≥1.10倍正常上限
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>肝组织学</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="符合AIH" name="liverHistology" [(ngModel)]="alAih.liverHistology">符合AIH
      </td>
      <td colspan="2">
        <input type="radio" value="典型AIH表现" name="liverHistology" [(ngModel)]="alAih.liverHistology">典型AIH表现
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>排除病毒性肝炎</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="否" name="excludeViralHepatitis" [(ngModel)]="alAih.excludeViralHepatitis">否
      </td>
      <td colspan="2">
        <input type="radio" value="是" name="excludeViralHepatitis" [(ngModel)]="alAih.excludeViralHepatitis">是
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
  <button class="btn btn-success" (click)="submit()">确定</button>
  <hr>
</div>
