<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="3">
        <label>ANA或SMA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">阴性
      </td>
      <td colspan="2">
        <input type="radio" name="">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>ANA/SMA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">
        <1:100 </td>
          <td>
            <input type="radio" name="">=1:100
          </td>
          <td>
            <input type="radio" name="">>1:100
          </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Anti-LKM-l</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">阴性
      </td>
      <td colspan="2">
        <input type="radio" name="">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Anti-SLA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">阴性
      </td>
      <td colspan="2">
        <input type="radio" name="">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>IgG</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">≥正常值上限
      </td>
      <td colspan="2">
        <input type="radio" name="">≥1.10倍正常上限
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>肝组织学</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">符合AIH
      </td>
      <td colspan="2">
        <input type="radio" name="">典型AIH表现
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>排除病毒性肝炎</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="">否
      </td>
      <td colspan="2">
        <input type="radio" name="">是
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
