<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="3">
        <label>ANA或SMA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="anasma1" value="阴性" [(ngModel)]="anasma1">阴性
      </td>
      <td colspan="2">
        <input type="radio" name="anasma1" value="阳性" [(ngModel)]="anasma1">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>ANA/SMA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="<1:100" [(ngModel)]="anasma2" name="anasma2">
        <1:100 </td>
          <td>
            <input type="radio" value="=1:100" [(ngModel)]="anasma2" name="anasma2">=1:100
          </td>
          <td>
            <input type="radio" value=">1:100" [(ngModel)]="anasma2" name="anasma2">>1:100
          </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Anti-LKM-l</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="阴性" name="lkm" [(ngModel)]="lkm">阴性
      </td>
      <td colspan="2">
        <input type="radio" value="阳性" name="lkm" [(ngModel)]="lkm">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Anti-SLA</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="阴性" name="sla" [(ngModel)]="sla">阴性
      </td>
      <td colspan="2">
        <input type="radio" value="阳性" name="sla" [(ngModel)]="sla">阳性
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>IgG</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="≥正常值上限" name="igg" [(ngModel)]="igg">≥正常值上限
      </td>
      <td colspan="2">
        <input type="radio" value="≥1.10倍正常上限" name="igg" [(ngModel)]="igg">≥1.10倍正常上限
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>肝组织学</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="符合AIH" name="aih" [(ngModel)]="aih">符合AIH
      </td>
      <td colspan="2">
        <input type="radio" value="典型AIH表现" name="aih" [(ngModel)]="aih">典型AIH表现
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>排除病毒性肝炎</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" value="否" name="liver" [(ngModel)]="liver">否
      </td>
      <td colspan="2">
        <input type="radio" value="是" name="liver" [(ngModel)]="liver">是
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
