<div class="container" style="height: auto">
  <div>
    <b>性别：</b>
    <a class="col-md-offset-1" role="button">全部</a>
    <a class="col-md-offset-1" role="button">男</a>
    <a class="col-md-offset-1" role="button">女</a>
    <hr>
    <b>年龄：</b>
    <a class="col-md-offset-1" role="button">全部</a>
    <a class="col-md-offset-1" role="button">0到10岁</a>
    <a class="col-md-offset-1" role="button">11到20岁</a>
    <a class="col-md-offset-1" role="button">21到60岁</a>
    <a class="col-md-offset-1" role="button">60岁以上</a>
    <hr>
    <b>分类：</b>
    <a class="col-md-offset-1" role="button">全部</a>
    <a class="col-md-offset-1" style="width: 110px" role="button">自身免疫性肝病</a>
    <a class="col-md-offset-1" style="width: 110px" role="button">药物性肝损伤</a>
  </div>
  <hr>
  <app-case-list></app-case-list>
  <div class="col-md-12">
    <app-pagination></app-pagination>
  </div>
</div>
