<div class="container" style="height: auto">
  <div>
    <b>性别：</b>
    <button class="btn btn-info btn-sm col-md-offset-1" (click)="selectGender1()">不限</button>
    <button class="btn btn-info btn-sm col-md-offset-1" (click)="selectGender2()">男</button>
    <button class="btn btn-info btn-sm col-md-offset-1" (click)="selectGender3()">女</button>
    <hr>
    <b>年龄：</b>
    <button class="btn btn-success btn-sm col-md-offset-1" (click)="selectAge1()">不限</button>
    <button class="btn btn-success btn-sm col-md-offset-1" (click)="selectAge2()">0到10岁</button>
    <button class="btn btn-success btn-sm col-md-offset-1" (click)="selectAge3()">11到20岁</button>
    <button class="btn btn-success btn-sm col-md-offset-1" (click)="selectAge4()">21到60岁</button>
    <button class="btn btn-success btn-sm col-md-offset-1" (click)="selectAge5()">60岁到100岁</button>
    <hr>
    <b>筛选：</b>
    <span class="col-md-offset-1">性别：{{gender}}</span>
    <span class="col-md-offset-1">年龄：{{age}}</span>
    <button class="col-md-offset-1 btn btn-primary btn-sm" (click)="submit()">确定</button>
  </div>
  <hr>
  <app-case-list [cases]="cases"></app-case-list>
  <div class="col-md-12">
    <app-pagination [dataNums]="dataNums" (currentPage)="currentPageHandle($event)"></app-pagination>
  </div>
</div>
