<div class="container" style="height: 450px;">
  <h3>既往疾病史</h3>
  <form>
    <table class="table">
      <tr>
        <td colspan="5">
          <label>除药物性肝病以外，病例是否存在其他疾病史？</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="other" value="是" [(ngModel)]="mlDiseaseHistory.other">是
        </td>
        <td colspan="4">
          <input type="radio" name="other" value="否" [(ngModel)]="mlDiseaseHistory.other">否
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <label>个人史</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="one1" value="饮酒" [(ngModel)]="one1">饮酒</td>
        <td>
          <input type="checkbox" name="one2" value="吸烟" [(ngModel)]="one2">吸烟</td>
        <td>
          <input type="checkbox" name="one3" value="过敏" [(ngModel)]="one3">过敏</td>
        <td>
          <input type="checkbox" name="one4" value="感染" [(ngModel)]="one4">感染</td>
        <td>
          <input type="checkbox" name="one5" value="手术" [(ngModel)]="one5">手术</td>
      </tr>
      <tr>
        <td colspan="5">
          <label>疫区旅游史</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="tour" value="是" [(ngModel)]="mlDiseaseHistory.tour">是</td>
        <td colspan="4">
          <input type="radio" name="tour" value="否" [(ngModel)]="mlDiseaseHistory.tour">否</td>
      </tr>
    </table>
    <hr>
    <button class="btn btn-danger" routerLink="/medicineLiver">返回</button>
    <button class="btn btn-success" (click)="submit()">确定</button>
    <hr>
  </form>
</div>
