<div class="container" style="height: 450px;">
  <form>
    <table class="table">
      <tr>
        <td colspan="5">
          <label>除药物性肝病以外，病例是否存在因本次入院的其他疾病史？</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="">是
        </td>
        <td colspan="4">
          <input type="radio" name="">否
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <label>个人史</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="">饮酒</td>
        <td>
          <input type="checkbox" name="">吸烟</td>
        <td>
          <input type="checkbox" name="">过敏</td>
        <td>
          <input type="checkbox" name="">感染</td>
        <td>
          <input type="checkbox" name="">手术</td>
      </tr>
      <tr>
        <td colspan="5">
          <label>疫区旅游史</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="">是</td>
        <td colspan="4">
          <input type="radio" name="">否</td>
      </tr>
    </table>
    <hr>
    <button class="btn btn-danger">返回</button>
    <button class="btn btn-success">确定</button>
    <hr>
  </form>
</div>
