<div class="container" style="height: auto">
  <div>
    <b>年龄：</b>
    <a class="col-md-offset-1" role="button" mybox>全部</a>
    <a class="col-md-offset-1" role="button" mybox>0到10岁</a>
    <a class="col-md-offset-1" role="button" mybox>11到20岁</a>
    <a class="col-md-offset-1" role="button" mybox>21到60岁</a>
    <a class="col-md-offset-1" role="button" mybox>60岁以上</a>
    <hr>
    <b>分类：</b>
    <a class="col-md-offset-1" role="button" mybox>全部</a>
    <a class="col-md-offset-1" style="width: 110px" role="button" mybox>自身免疫性肝病</a>
    <a class="col-md-offset-1" style="width: 110px" role="button" mybox>药物性肝损伤</a>
  </div>
  <hr>
  <app-doc-list></app-doc-list>
  <app-pagination></app-pagination>
</div>
