<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="2">
        <label>肝脏生化检查</label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">谷丙转氨酶(ALT)(IU/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">谷草转氨酶(AST)(IU/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">谷氨酰转肽酶(GGT)(IU/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">碱性磷酸酶(ALP)(IU/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">胆汁酸(umol/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">总胆红素(TBIL)(umol/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">直接胆红素(结合，DBIL)(umol/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">总蛋白(TP)(g/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">白蛋白(ALB)(g/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label>肾功能检查</label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">肌酐(Scr)(umol/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">尿素氮(mmol/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label>血糖检查</label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">空腹血糖(mmol/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label>凝血功能检查</label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">凝血酶原时间(PT)(秒)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">凝血酶原标准化比值(INR)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label>肿瘤标志物</label>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">甲胎蛋白(AFP)(ug/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
