<div class="container" style="height: auto;">
  <table class="table table-bordered">
    <tr>
      <td class="col-md-3">姓名：{{case.name}}</td>
      <td class="col-md-3">病例号：{{id}}</td>
      <td class="col-md-3">年龄：{{case.age}}</td>
      <td class="col-md-3" rowspan="4"><img src="/image/{{case.fileName}}" style="height: 30%;width: 80%;margin-left: 10%"></td>
    </tr>
    <tr>
      <td>性别：{{case.gender}}</td>
      <td>民族：{{case.nation}}</td>
    </tr>
    <tr>
      <td>身高：{{case.height}}</td>
      <td>体重：{{case.weight}}</td>
      <td>BMI：{{case.bmi}}</td>
    </tr>
    <tr>
      <td>婚否：{{marry}}</td>
      <td>文化程度：{{case.culture}}</td>
      <td>职业：{{job}}</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-success" (click)="collect()">收藏</button>
</div>
