<div class="container">
  <div class="jumbotron" style="background-image: url(../../assets/image/medicine4.jpg);">
    <h2 style="color: lightblue">药物性肝损伤</h2>
    <p style="color: black">肝脏是药物代谢的主要场所，大多数药物在体内都要经过肝脏转化或结合作用，由脂溶性变为水溶性，然后从胆汁或尿液排出，某些药物在这个过程中会产生对肝脏有毒性的代谢产物；此外，药物本身及其代谢产物还可以扰乱机体的免疫平衡，最终诱发自身免疫反应。因此，肝脏是最易受到药物影响的器官，容易出现“药物性肝损伤”。</p>
  </div>
  <a class="small-box bg-aqua col-md-3 rose" role="button" style="margin-left: 4%">
    <div class="inner">
      <h4>个人资料</h4>
      <p>姓名，年龄等</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-user" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      让我们初步认识你
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-green col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>四诊信息</h4>
      <p>日常体征信息等</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-list-alt" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-yellow col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>既往疾病史</h4>
      <p>曾患病信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-leaf" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-aqua col-md-3 rose" role="button" style="margin-left: 4%">
    <div class="inner">
      <h4>既往过敏史</h4>
      <p>过敏情况</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-eye-open" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-green col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>饮酒情况</h4>
      <p>饮酒信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-grain" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-yellow col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>症状体征</h4>
      <p>症状体征信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-certificate" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-aqua col-md-3 rose" role="button" style="margin-left: 4%">
    <div class="inner">
      <h4>生化检查</h4>
      <p>生化检查数据</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-fire" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-green col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>血常规</h4>
      <p>血液量化检测信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-pencil" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-yellow col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>肝脏组织学检查</h4>
      <p>肝脏组织信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-star" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
</div>
