<div class="container" style="height: 500px;">
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#a" aria-controls="a" role="tab" data-toggle="tab">肝功能</a></li>
      <li role="presentation"><a href="#b" aria-controls="b" role="tab" data-toggle="tab">肾功能</a></li>
      <li role="presentation"><a href="#c" aria-controls="c" role="tab" data-toggle="tab">凝血</a></li>
      <li role="presentation"><a href="#d" aria-controls="d" role="tab" data-toggle="tab">血常规</a></li>
      <li role="presentation"><a href="#e" aria-controls="e" role="tab" data-toggle="tab">乙肝</a></li>
    </ul>
    <hr>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="a">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">白蛋白：</label>
            <input type="text" class="form-control" name="albumin" [(ngModel)]="alPcInsLiver.albumin" placeholder="白蛋白">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">球蛋白：</label>
            <input type="text" class="form-control" name="globulin" [(ngModel)]="alPcInsLiver.globulin" placeholder="球蛋白">
          </div>
          <hr>
          <div class="form-group">
            <label class="control-label">ALT：</label>
            <input type="text" class="form-control" name="alt" [(ngModel)]="alPcInsLiver.alt" placeholder="ALT">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">AST：</label>
            <input type="text" class="form-control" name="ast" [(ngModel)]="alPcInsLiver.ast" placeholder="AST">
          </div>
          <hr>
          <div class="form-group">
            <label class="control-label">GGT：</label>
            <input type="text" class="form-control" name="ggt" [(ngModel)]="alPcInsLiver.ggt" placeholder="GGT">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">ALP：</label>
            <input type="text" class="form-control" name="alp" [(ngModel)]="alPcInsLiver.alp" placeholder="ALP">
          </div>
        </form>
        <hr>
        <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
        <button class="btn btn-success" (click)="submit1()">确定</button>
        <hr>
      </div>
      <div role="tabpanel" class="tab-pane" id="b">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">BUN：</label>
            <input type="text" class="form-control" name="bun" [(ngModel)]="alPcInsKidney.bun" placeholder="BUN">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">Cr：</label>
            <input type="text" class="form-control" name="cr" [(ngModel)]="alPcInsKidney.cr" placeholder="CR">
          </div>
        </form>
        <hr>
        <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
        <button class="btn btn-success" (click)="submit2()">确定</button>
        <hr>
      </div>
      <div role="tabpanel" class="tab-pane" id="c">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">PT：</label>
            <input type="text" class="form-control" name="pt" [(ngModel)]="alPcInsCoagulation.pt" placeholder="PT">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">INR：</label>
            <input type="text" class="form-control" name="inr" [(ngModel)]="alPcInsCoagulation.inr" placeholder="INR">
          </div>
        </form>
        <hr>
        <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
        <button class="btn btn-success" (click)="submit3()">确定</button>
        <hr>
      </div>
      <div role="tabpanel" class="tab-pane" id="d">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">RBC：</label>
            <input type="text" class="form-control" name="rbc" [(ngModel)]="alPcInsBlood.rbc" placeholder="RBC">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">HB：</label>
            <input type="text" class="form-control" name="hb" [(ngModel)]="alPcInsBlood.hb" placeholder="HB">
          </div>
          <hr>
          <div class="form-group">
            <label class="control-label">WBC：</label>
            <input type="text" class="form-control" name="wbc" [(ngModel)]="alPcInsBlood.wbc" placeholder="wWBC">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">中性粒细胞：</label>
            <input type="text" class="form-control" name="neutrophil" [(ngModel)]="alPcInsBlood.neutrophil" placeholder="肝肾微粒体抗体">
          </div>
          <hr>
          <div class="form-group">
            <label class="control-label">淋巴细胞：</label>
            <input type="text" class="form-control" name="lymphocyte" [(ngModel)]="alPcInsBlood.lymphocyte" placeholder="肝细胞溶质抗原">
          </div>
        </form>
        <hr>
        <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
        <button class="btn btn-success" (click)="submit4()">确定</button>
        <hr>
      </div>
      <div role="tabpanel" class="tab-pane" id="e">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">hbsAg：</label>
            <input type="text" class="form-control" name="hbsAg" [(ngModel)]="alPcInsHepatitisB.hbsAg" placeholder="hbsAg">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">hbsAb：</label>
            <input type="text" class="form-control" name="hbsAb" [(ngModel)]="alPcInsHepatitisB.hbsAb" placeholder="hbsAb">
          </div>
          <hr>
          <div class="form-group">
            <label class="control-label">hbeAg：</label>
            <input type="text" class="form-control" name="hbeAg" [(ngModel)]="alPcInsHepatitisB.hbeAg" placeholder="hbeAg">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">hbeAb：</label>
            <input type="text" class="form-control" name="hbeAb " [(ngModel)]="alPcInsHepatitisB.hbeAb" placeholder="hbeAb">
          </div>
          <hr>
          <div class="form-group">
            <label class="control-label">hbcAb：</label>
            <input type="text" class="form-control" name="hbcAb" [(ngModel)]="alPcInsHepatitisB.hbcAb" placeholder="hbcAb">
          </div>
          <div class="form-group col-md-offset-1">
            <label class="control-label">hbvRna：</label>
            <input type="text" class="form-control" name="hbvRna" [(ngModel)]="alPcInsHepatitisB.hbvRna" placeholder="hbvRna">
          </div>
        </form>
        <hr>
        <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
        <button class="btn btn-success" (click)="submit5()">确定</button>
        <hr>
      </div>
    </div>
  </div>
</div>
