<div class="container" style="height: 500px;">
  <table class="table">
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">白细胞总数(WBC)(×10^9/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">血红蛋白(Hb)(g/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">总血红蛋白浓度(g/dL)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">血小板(PLT)(×10^9/L)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">中性粒细胞计数(N)(%)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
      <td>
        <div class="form-group form-inline">
          <label class="control-label">嗜酸性粒细胞计数(E)(%)：</label>
          <input type="text" class="form-control">
        </div>
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
