/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.rose {
  position: relative;
  transition: transform 0.5s;
  border-radius: 15px;
  background-color: lightgreen;
}

.rose::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  height: 8px;
  width: 100%;
  border-radius: 50%;
  background-color: lightblue;
  transform: translate(-50%, 0);
  transition: transform 1s;
}

.rose:hover {
  transform: translateY(-20px);
  transition: transform 0.5s;
  box-shadow: 0px 10px 10px 0px lightblue;
}

.rose:hover::after {
  transform: translate(-50%, 40px) scale(0.75);
  transition: transform 1s;
}
