<div class="container" style="height: auto;">
  <table class="table">
    <tr>
      <td colspan="4">
        <label>乏力</label>
      </td>
    </tr>
    <tr>
      <td class="col-md-3">
        <input type="radio">无
      </td>
      <td>
        <input type="radio">肢体乏力，勉强维持日常生活
      </td>
      <td>
        <input type="radio">肢体稍倦，可坚持轻体力工作
      </td>
      <td>
        <input type="radio">全身无力，终日不愿活动
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>皮肤瘙痒</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">偶有，不影响日常生活
      </td>
      <td>
        <input type="radio">时常有，轻度影响日常生活
      </td>
      <td>
        <input type="radio">整日瘙痒，影响日常生活
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>两目干涩</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">自觉有时目干
      </td>
      <td>
        <input type="radio">经常两目干涩
      </td>
      <td>
        <input type="radio">整日两目干涩
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>视物模糊</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">久视后视物不清
      </td>
      <td>
        <input type="radio">视物不清
      </td>
      <td>
        <input type="radio">视物困难
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>抑郁</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">有时情绪低落
      </td>
      <td>
        <input type="radio">经常情绪低落
      </td>
      <td>
        <input type="radio">经常情绪低落
      </td>
      <td>
        <input type="radio">有厌世倾向
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>烦躁易怒</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">偶见烦躁
      </td>
      <td>
        <input type="radio">经常烦躁不安
      </td>
      <td>
        <input type="radio">一触即怒
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>失眠</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">睡眠不足6小时
      </td>
      <td>
        <input type="radio">睡眠不足4小时
      </td>
      <td>
        <input type="radio">彻夜难眠
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>易醒</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">每夜眠后醒1~2次
      </td>
      <td>
        <input type="radio">每夜眠后醒3~4次
      </td>
      <td>
        <input type="radio">每夜醒5次以上
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>耳鸣</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">偶见轻微耳鸣
      </td>
      <td>
        <input type="radio">阵发耳鸣，休息后缓解
      </td>
      <td>
        <input type="radio">耳鸣持续不解
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <label>口干</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio">无
      </td>
      <td>
        <input type="radio">偶有或晨起口干
      </td>
      <td>
        <input type="radio">时感口干
      </td>
      <td>
        <input type="radio">整日口干
      </td>
    </tr>
  </table>
  <hr>
  <button class="btn btn-danger" routerLink="/autoimmune">返回</button>
  <button class="btn btn-success">确定</button>
  <hr>
</div>
