<div class="container">
  <div class="jumbotron" style="background-image: url(../../assets/image/medicine6.jpg);">
    <h2 style="color: lightblue">自身免疫性肝病</h2>
    <p style="color: black">自身免疫性肝炎是由自身免疫反应介导的慢性进行性肝脏炎症性疾病，其临床特征为不同程度的血清转氨酶升高、高γ-球蛋白血症、自身抗体阳性，组织学特征为以淋巴细胞、浆细胞浸润为主的界面性肝炎，严重病例可快速进展为肝硬化和肝衰竭。</p>
  </div>
  <a class="small-box bg-aqua col-md-3 rose" role="button" style="margin-left: 4%">
    <div class="inner">
      <h4>个人资料</h4>
      <p>姓名，年龄等</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-user" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      让我们初步认识你
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-green col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>四诊信息</h4>
      <p>日常体征信息等</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-list-alt" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-yellow col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>舌脉象</h4>
      <p>舌体，脉搏信息等</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-leaf" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-aqua col-md-3 rose" role="button" style="margin-left: 4%">
    <div class="inner">
      <h4>个人资料</h4>
      <p>姓名，年龄等</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-eye-open" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      让我们初步认识你
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-green col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>肝脏病理学检查</h4>
      <p>肝脏信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-grain" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-yellow col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>骨密度</h4>
      <p>骨骼信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-certificate" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-aqua col-md-3 rose" role="button" style="margin-left: 4%">
    <div class="inner">
      <h4>简化AIH</h4>
      <p>AIH检查</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-fire" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-green col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>理化检查</h4>
      <p>量化检测信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-pencil" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
  <a class="small-box bg-yellow col-md-3 col-md-offset-1 rose" role="button">
    <div class="inner">
      <h4>最后诊断和特殊情况</h4>
      <p>最后诊断信息</p>
    </div>
    <div class="icon">
      <i class="glyphicon glyphicon-star" style="margin-top: 20%"></i>
    </div>
    <p class="small-box-footer">
      加深我们对患者的了解
      <i class="fa fa-arrow-circle-right"></i>
    </p>
  </a>
</div>
